.App {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 20px;

  font-size: 1.5rem;

  border: 3px solid black;
  border-radius: 16px;
}

.cards-wrapper {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.c-card {
  flex: 1;
  height: 300px;
  border: 2px solid black;
  border-radius: 4px;
}
