.App {
  position: relative;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  font-size: 1.5rem;
}

.main {
  width: 80%;
  margin-top: 100px;
  padding: 2.5rem;
  display: flex;
  flex-flow: column;
  order: 2;
}

.main__heading {
  font-size: 2.5rem;
}

.main__difficulty {
  margin-top: 0.8rem;
  margin-bottom: 2rem;

  font-size: 1.7rem;
}

@media only screen and (max-width: 850px) {
  .main__heading {
    font-size: 1.5rem;
  }

  .main__difficulty {
    font-size: 1.2rem;
  }
}
